*{
	margin: 0px;
	padding: 0px;
}

html,body{
	margin: 0px;
	padding: 0px;
}

/*..........Navbar.........*/
.header{
		background-color: gray;
		width: 100%;
		height: 110px;
	}

	.logo{
		float: left;
		padding: 40px 10px 0px 20px;
		font-family: cursive;
	}

	.logo a{
		color: orange;
		text-decoration: none;
	}

	.navbar{
		float: left;
		padding: 48px 0px 0px 20px;
	}

	.navbar li{
		display: inline;
		padding-left: 35px;
	}

	.navbar li a{
		text-decoration: none;
		color: white;
	}

	.nav_btn{
		float: right;
		padding: 38px 20px 0px 0px;
	}

	.btn{
		background-color: orange;
		border: none;
		padding: 10px;
		border-radius: 5px;
	}

	.btn a{
		text-decoration: none;
		color: white;
	}

.name{
	padding: 48px 100px 0px 130px;
	float: left;
	color: yellow;
	font-weight: bold;
}

/*...........section 2.............*/
.sec_2{
	width: 100%;
	height: 700px;
	background-image: url('img/lib1.jpg');
}

.intro{
	width: 550px;
	height: 400px;
	background-color: black;
	opacity: 0.7;
	margin: 100px 0px 0px 530px;
	position: absolute;
	border-radius: 10px;
	text-align: center;
	color: white;
	}

.hd{
	font-size: 45px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 40px;
	}

.p1{
	font-size:40px;
	color: yellow;
	padding-top: 10px;
	padding-bottom: 10px; 
	}

.p2{
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 30px;
	}

/*........footer.......*/
footer{
	color: black;
	text-align: center;
	border: none;
	background-color: #c13939;
	padding: 35px;
}

/*...........admin login..........*/
.frm{
	text-align: center;
	margin: 142px 0px 253px 0px;
}

.input{
	padding: 10px 20px 10px 20px;
	text-align: center;
}

.btn{
	background-color: orange;
	color: white;
	border:none;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}

.head1{
	color: orange;
	padding:5px 0px 10px 0px;
	text-align: center;
	font-size: 20px;
	font-size: bold;
}

/*.........student login.......*/
.frm1{
	text-align: center;
	margin: 142px 0px 220px 0px;
}

.head2{
	color: orange;
	padding:15px 0px 10px 0px;
	text-align: center;
	font-size: 20px;
	font-size: bold;
}

/*..........student signup...........*/

.sign{
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.head3{
	color: orange;
	padding:10px 0px 10px 0px;
	text-align: center;
	font-size: 20px;
	font-size: bold;
}

/*.......student details...........*/
.srch{
	margin: 20px 0px 0px 1200px;
}

.dlt{
	margin:10px 0px 0px 1200px;
}

.btn1{
	background-color: orangered;
	color: white;
	border:none;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}

.btn2{
	background-color: seagreen;
	color: white;
	border:none;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}

.tbl{
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	/*margin: 0px 30px 0px 30px;*/
}

th{
	border: 1px solid black;
	padding: 15px;
	background-color: teal;
}

td{
	border: 1px solid black;
	padding: 15px;
	background-color: skyblue;
}

/*.........edit books..........*/
.edit{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
}

/*..........view page........*/
.box{
	border:none;
	margin:20px 500px 20px 500px;
	text-align: center;
	padding: 30px;
	background-color:orange ;
	box-shadow: 5px 5px 5px 5px grey;
}

.link{
	text-decoration: none;
	color: black;
}

.bck_btn{
	background-color: orange;
	border:none;
	padding: 10px;
	border-radius:5px;
	margin-top: 5px; 
}

.bck_btn a{
	text-decoration: none;
	color: black;
}

/*.......profile........*/
.head4{
	text-align: center;
	font-weight: bold;
}

.tble{
	width: 500px;
	text-align: center;
	margin: 0px 0px 0px 680px;
}